<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-12-mobile is-6-tablet">
                <div class="block">
                    <p class="title">Sobre Comic App</p>
                </div>
                <div class="block">
                    <p class="subtitle">
                        En Comic App podrás encontrar la información de heroes de DC Comics y Marvel Comics.
                        <br> <br> Comic App fue creada por Juan Miguel Rocha en 2020, utilizando Angular y Bulma.

                    </p>
                </div>
            </div>
            <div class="column is-12-mobile is-6-tablet is-horizontal-center">
                <figure class="image" style="max-width: 300px">
                    <img src="assets/img/capitan-america.png" alt="capitan-america">
                </figure>
            </div>

        </div>

    </div>
</section>