<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12-mobile is-6-tablet">
                    <div class="columns is-centered">
                        <div class="column is-12-tablet is-10-desktop is-8-widescreen is-centered">
                            <div class="box">
                                <p class="title">Comic App</p>
                                <p class="subtitle">
                                    Encuentra la información de tus heroes favoritos.
                                </p>
                                <figure class="image container is-horizontal-center">
                                    <img src="assets/img/hero.png" style="max-width: 200px;">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12-mobile is-6-tablet">
                    <figure class="image container is-horizontal-center">
                        <img src="assets/img/comic.png" style="max-width: 400px;">
                    </figure>
                </div>

            </div>
        </div>
    </div>
</section>